/* LayoutSamplePage.css */

/* .layout-sample-container styles are now handled by the Layout component */

/* Content Area for the sample page */
.layout-sample-container .sample-content {
    padding: 4rem;
    max-width: 800px;
    margin: 4rem auto;
    /* Added top/bottom margin for spacing */
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    /* Add background to content for readability */
    border-radius: 1rem;
}

.layout-sample-container .sample-content h1 {
    font-family: "Quattrocento", serif;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}