@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /*KEEP ME font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; KEEP ME*/
  /* --- Typography --- */
  --font-heading: "Quattrocento", serif;
  --font-body: "Solway", serif;

  /* --- Colors --- */
  /* Primary (Indigo) */
  --color-primary: #4f46e5;
  --color-primary-hover: #4338ca;

  /* Secondary (Amber/Gold) */
  --color-secondary: #fbbf24;

  /* Backgrounds */
  --color-bg-main: #ffffff;
  --color-bg-light: #f9fafb;
  --color-bg-dark: #1f2937;

  /* Text */
  --color-text-main: #111827;
  --color-text-muted: #6b7280;
  --color-text-light: #f3f4f6;

  /* Borders */
  --color-border: #e5e7eb;

  /* Base Settings */
  font-family: var(--font-body);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-text-main);
  background-color: var(--color-bg-main);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: "Quattrocento", serif;
  color: white;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: white;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

html {
  scroll-behavior: smooth;
}