/* LayoutSamplePage.css */

.layout-sample-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #222;
    font-family: "Solway", serif;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
}

/* Content Area for the sample page */
.layout-sample-container .sample-content {
    padding: 4rem;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    /* Add background to content for readability */
    border-radius: 1rem;
    margin-top: 4rem;
}

.layout-sample-container .sample-content h1 {
    font-family: "Quattrocento", serif;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}